<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Artifika&family=Finlandica:ital,wght@0,400..700;1,400..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="assets/scripts/script.js" defer></script>
</head>
<body>  

    <div id="app">

        <main id="main">

            <div id="container1">

                <div id="redWave_layer">
                    <img id="redWave_image" src="assets/images/wave.svg" alt="wave_header">
                </div>
                
                <div id="logo_layer">
                    <img id="logo_image" src="assets/images/Logo.svg" alt="logo_header">
                </div>

                <div id="form">

                    <div id="rightPastel_layer">
                        <img id="rightPastel_image" src="assets/images/pasteis-img.png" alt="rPastel_header">
                    </div>

                    <div id="leftPastel_layer">
                        <img id="leftPastel_image" src="assets/images/pastel-paralax.png" alt="lPastel_header">
                    </div> 
        
                    <div id="form_content">

                            <label for="form" id="form_header">
                                
                                <h1 class="">Monte aqui o seu cardápio. O que está esperando?</h1>

                                <label for="form_label" id="switchButton_label">
                                    
                                    <input type="checkbox" id="checkBox" />

                                    <label for="checkBox" id="switchLabel">
                                        <span id="slider"></span>
                                    </label>

                                    <h3 id="switch_drink">Bebida</h3>

                                </label>
        
                            </label>

                        <div id="form_firstLine">
                            <input type="text" id="inputTitle" v-model="inputTitle" placeholder=" Título do pedido" required minlength="3" maxlength="60" value=""/>
                            <input type="text" id="inputFlavor" v-model="inputFlavor" placeholder=" Sabor"  required minlength="3" maxlength="60" value=""/>
                            <input type="number" id="inputPrice" v-model="inputPrice" placeholder=" R$" required value=""/>
                        </div>

                        <div id="form_secondLine">
                            <input type="text" id="inputDescription" v-model="inputDescription" placeholder=" Descrição:" value=""/>
                        </div>

                        <div id="form_thirdLine">

                            <label id="imagePreview_label">

                                <div id="notImagePreview_label">
                                    <ion-icon name="cloud-upload-outline"></ion-icon>
                                    <h3>Jogue aqui o arquivo da imagem do seu pastel ou clique para localizar a pasta. </h3>
                                </div>

                                <img src="" id="imagePreview" v-model="imagePreview">
                                <input type="file" id="inputOrder" v-model="inputOrder" @change="convertImage" accept=".jpg, png" />

                            </label>
                                
                        </div>

                        <div id="btns_form">
                            <button v-on:click="clearForm" id="btn_clear"><span>LIMPAR</span></button>
                            <button @:click="submitForm" id="btn_register"><span>CADASTRAR</span></button>    
                        </div>

                    </div>
                </div>            
            </div>

            <label id="main_shadow"></label>
            <label id="main_line"></label>

            <label id="main_label">
                <h1>Veja como será apresentado ao cliente</h1>
            </label>

            <div id="container2">

                <ul id="orderList" v-model="orderList" >

                    <li id="0" class="orderListItem" v-model="order" v-for="order in orders" :key="order" value=0>
                        
                        <div id="liContent" >

                            <img src="assets/images/images.png" id="orderImage" v-model="orderImage" >
                            
                            <div id="orderContent">
                                
                                <div id="orderContent_header">
                                    <span id="title">"{{order.title}}"</span>
                                    <span id="price">R$: {{order.price}}</span>
                                </div>
                                <div id="orderInformations">
                                    <span id="flavor">Sabor: {{order.flavor}}</span>
                                    <span id="description">Descrição: {{order.description}}</span>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>

    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>  

</body>
</html>